@model WebMVC.ENTITIES.ViewModel.ViewModelDMChuDeBaiViet

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách chủ đề bài viết
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Thông tin chủ đề bài viết</div>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("Index", "DMChuDeBaiViet", FormMethod.Get))
            {
                        <div class="row form-group">
                            <div class="col-lg-12">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TenChuDeBaiViet, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                    <a class="btn btn-primary" href="/Admin/DMChuDeBaiViet/Create">Thêm mới</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @*<legend class="head_title">Kết quả tìm kiếm</legend>*@

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Tên chủ đề bài viết:
                                </th>
                                <th>
                                    Mô tả:
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.SearchResults != null)
                                {
                                    foreach (var item in Model.SearchResults)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenChuDeBaiViet)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MoTa)
                                            </td>
                                            <td>
                                                <div class="pull-right">

                                                    <a href="@Url.Action("Edit", "DMChuDeBaiViet", new { MaChuDeBaiViet = item.MaChuDeBaiViet })">
                                                        <img src="@Url.Content("/fonts/grid-edit-icon.png")" title="Sửa" />
                                                    </a>
                                                    <a href="@Url.Action("Delete", "DMChuDeBaiViet", new { MaChuDeBaiViet = item.MaChuDeBaiViet })" delete- delete-modal="">
                                                        <img src="@Url.Content("/fonts/grid-delete-icon1.gif")" title="Hủy giảng viên" />
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="pagination-sm" style="clear:both; padding: 5px 0;">
                    @Html.PagedListPager(Model.SearchResults, page => Url.Action("Index", new
               {
                   page,
                   Model.MaChuDeBaiViet,
                   Model.TenChuDeBaiViet
               }))
                </div>
            </div>
        </div>
    </div>
</div>
