@model WebMVC.ENTITIES.CrudModel.CrudModelDMNgonNguLapTrinh

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Thêm mới ngôn ngữ lập trình
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cập nhật ngôn ngữ lập trình.
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Edit", "DMNgonNguLapTrinh", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.MaNgonNguLapTrinh)
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-4 control-label">
                                    Tên hiển thị:
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TenNgonNguLapTrinh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenNgonNguLapTrinh, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 control-label">
                                    Mô tả:
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 ">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-floppy-disk"></span> Cập nhật
                                    </button>
                                    &nbsp;&nbsp;
                                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary btn-sm" })
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
